<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medicalsystem.mapper.TCostMapper" >
  <resultMap id="BaseResultMap" type="com.medicalsystem.pojo.TCost" >
    <id column="cost_id" property="costId" jdbcType="BIGINT" />
    <result column="cost_type" property="costType" jdbcType="VARCHAR" />
    <result column="cost_price" property="costPrice" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cost_id, cost_type, cost_price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.medicalsystem.pojo.TCostExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_cost
    where cost_id = #{costId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_cost
    where cost_id = #{costId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.medicalsystem.pojo.TCostExample" >
    delete from t_cost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.medicalsystem.pojo.TCost" >
    insert into t_cost (cost_id, cost_type, cost_price
      )
    values (#{costId,jdbcType=BIGINT}, #{costType,jdbcType=VARCHAR}, #{costPrice,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.medicalsystem.pojo.TCost" >
    insert into t_cost
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="costId != null" >
        cost_id,
      </if>
      <if test="costType != null" >
        cost_type,
      </if>
      <if test="costPrice != null" >
        cost_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="costId != null" >
        #{costId,jdbcType=BIGINT},
      </if>
      <if test="costType != null" >
        #{costType,jdbcType=VARCHAR},
      </if>
      <if test="costPrice != null" >
        #{costPrice,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.medicalsystem.pojo.TCostExample" resultType="java.lang.Integer" >
    select count(*) from t_cost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_cost
    <set >
      <if test="record.costId != null" >
        cost_id = #{record.costId,jdbcType=BIGINT},
      </if>
      <if test="record.costType != null" >
        cost_type = #{record.costType,jdbcType=VARCHAR},
      </if>
      <if test="record.costPrice != null" >
        cost_price = #{record.costPrice,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_cost
    set cost_id = #{record.costId,jdbcType=BIGINT},
      cost_type = #{record.costType,jdbcType=VARCHAR},
      cost_price = #{record.costPrice,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.medicalsystem.pojo.TCost" >
    update t_cost
    <set >
      <if test="costType != null" >
        cost_type = #{costType,jdbcType=VARCHAR},
      </if>
      <if test="costPrice != null" >
        cost_price = #{costPrice,jdbcType=BIGINT},
      </if>
    </set>
    where cost_id = #{costId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medicalsystem.pojo.TCost" >
    update t_cost
    set cost_type = #{costType,jdbcType=VARCHAR},
      cost_price = #{costPrice,jdbcType=BIGINT}
    where cost_id = #{costId,jdbcType=BIGINT}
  </update>
</mapper>