<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medicalsystem.mapper.TSchedulMapper" >
  <resultMap id="BaseResultMap" type="com.medicalsystem.pojo.TSchedul" >
    <id column="schedul_id" property="schedulId" jdbcType="BIGINT" />
    <result column="department_id" property="departmentId" jdbcType="BIGINT" />
    <result column="doctor_id" property="doctorId" jdbcType="BIGINT" />
    <result column="schedultime" property="schedultime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    schedul_id, department_id, doctor_id, schedultime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.medicalsystem.pojo.TSchedulExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_schedul
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_schedul
    where schedul_id = #{schedulId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_schedul
    where schedul_id = #{schedulId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.medicalsystem.pojo.TSchedulExample" >
    delete from t_schedul
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.medicalsystem.pojo.TSchedul" >
    insert into t_schedul (schedul_id, department_id, doctor_id, 
      schedultime)
    values (#{schedulId,jdbcType=BIGINT}, #{departmentId,jdbcType=BIGINT}, #{doctorId,jdbcType=BIGINT}, 
      #{schedultime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.medicalsystem.pojo.TSchedul" >
    insert into t_schedul
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="schedulId != null" >
        schedul_id,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="doctorId != null" >
        doctor_id,
      </if>
      <if test="schedultime != null" >
        schedultime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="schedulId != null" >
        #{schedulId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=BIGINT},
      </if>
      <if test="schedultime != null" >
        #{schedultime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.medicalsystem.pojo.TSchedulExample" resultType="java.lang.Integer" >
    select count(*) from t_schedul
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_schedul
    <set >
      <if test="record.schedulId != null" >
        schedul_id = #{record.schedulId,jdbcType=BIGINT},
      </if>
      <if test="record.departmentId != null" >
        department_id = #{record.departmentId,jdbcType=BIGINT},
      </if>
      <if test="record.doctorId != null" >
        doctor_id = #{record.doctorId,jdbcType=BIGINT},
      </if>
      <if test="record.schedultime != null" >
        schedultime = #{record.schedultime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_schedul
    set schedul_id = #{record.schedulId,jdbcType=BIGINT},
      department_id = #{record.departmentId,jdbcType=BIGINT},
      doctor_id = #{record.doctorId,jdbcType=BIGINT},
      schedultime = #{record.schedultime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.medicalsystem.pojo.TSchedul" >
    update t_schedul
    <set >
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="doctorId != null" >
        doctor_id = #{doctorId,jdbcType=BIGINT},
      </if>
      <if test="schedultime != null" >
        schedultime = #{schedultime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where schedul_id = #{schedulId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medicalsystem.pojo.TSchedul" >
    update t_schedul
    set department_id = #{departmentId,jdbcType=BIGINT},
      doctor_id = #{doctorId,jdbcType=BIGINT},
      schedultime = #{schedultime,jdbcType=TIMESTAMP}
    where schedul_id = #{schedulId,jdbcType=BIGINT}
  </update>
</mapper>